<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="font-green-blue">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card *ngFor="let i of items[0]; let k = index">
    <ion-card-header>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
      <ion-card-title>{{ i.titulo_nota }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ i.descripcion_nota }}
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="editarNota(i.id_nota)" expand="block" fill="clear" shape="round" color="secondary">
            Editar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="deleteNote(i.id_nota)" expand="block" fill="clear" shape="round" color="danger">
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ng-container *ngIf="items.length <= 0">
    <app-explore-container name="No hay notas disponibles. Comienza creando una nueva nota."></app-explore-container>
  </ng-container>
</ion-content>
