<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="center background">
  <div style="height: 100%; display: flex; align-items: center;">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="2">
          <ion-img [src]="registerImg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
        <ion-col size="12">
          <div class="ion-text-center h5-line-height">
            <h4>Notas</h4>
          </div>
        </ion-col>
      </ion-row>
      <form [formGroup]="registerForm">
        <ion-row class="ion-justify-content-center">
          <ion-col size="4">
            <ion-item class="font-green-blue" color="transparent">
              <ion-label position="floating">Nombre(s)</ion-label>
              <ion-input formControlName="nombre" type="text" placeholder="Ej. Bill"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item class="font-green-blue" color="transparent">
              <ion-label position="floating">Apellido(s)</ion-label>
              <ion-input formControlName="apellidos" type="text" placeholder="Ej. Gates"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-item class="font-green-blue" color="transparent">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input formControlName="correo" type="text" placeholder="Ej. billgates82@microsoft.us"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-item class="font-green-blue" color="transparent">
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" placeholder="**********"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button class="my-font" (click)="registrar()" expand="block">
            Register
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <ion-text><small class="font-green-blue">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión.</a></small></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
